[Unit]
Description=CtrlB Seeker Service
After=network.target

[Service]
Type=simple
User=ctrlb
WorkingDirectory=/opt/ctrlb/seeker
ExecStart=/opt/ctrlb/seeker/ctrlb-seeker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target